html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}

h2{
    color: navy;
}

img{
    max-width: 50%;
    height: auto;
}

iframe{
    width:70%;
    height: 300px;
}

h1{
    color: blueviolet;
}